<!--Meta Information -->
<meta charset="UTF-8">
<title>WikiMap</title>
<!-- External CSS -->
<link rel="stylesheet" href="/vendor/bootstrap.css"/>
<link rel="stylesheet" href="/vendor/font-awesome.min.css"/>
<!-- App CSS -->
<link rel="stylesheet" href="/stylesheets/sass/style.css"/>
<link rel="stylesheet" href="/vendor/bootstrap.css">
<link rel="stylesheet" href="/vendor/font-awesome.min.css"/>
<!-- App CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- External JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/vendor/bootstrap.min.js"></script>
<!-- App JS -->

<!-- Fonts -->





