<!--Meta Information -->
<meta charset="UTF-8">
<title>WikiMap</title>
    <style>
    #map {
        height: 600px;
        width: 40%;
    }

    .floating {
        width: 200px;
        height: 200px;
        background: #ced3db;
    }
    </style>
<!-- External CSS -->
<link rel="stylesheet" href="/vendor/bootstrap.css">
<link rel="stylesheet" href="/vendor/font-awesome.min.css"/>
<!-- App CSS -->
<link rel="stylesheet" href="/stylesheets/sass/style.css"/>
<!-- External JS -->
<script
              src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous"></script>
<script src="/vendor/bootstrap.min.js"></script>

<!-- App JS -->

<!-- Fonts -->





