<% if (!user) { %>
    <% include ./_header %>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BUZZN</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HOME</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                    <li data-toggle="modal" data-target="#niceZoomIn"><a href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                </ul>
            </div>
            <div class="modal fade  " id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="font-weight: bold; font-size:1.7em; text-align: center;">LOGIN</h4>
                        </div>
                        <div class="modal-body">
                            <img width="100%" src="http://erinlyyc.com/wp-content/uploads/2017/05/google-maps.jpg" alt="" />
                        </div>
                        <div class="modal-footer" style="margin-right:7%;">
                            <% include ./users/_login %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <% } else { %>
            <% };  %>
                <!-- <div class="topnav" id="myTopnav">
            <a>BUZZN</a>
            <a>HOME</a>
            <a>ABOUT</a>
            <a href="/users/logout" style="float:right;">LOGOUT</a>
            <a href="#map" onclick="document.getElementById('usermap').style.display='block'" style="float:right;">CREATE MAP</a>
            <a href="/users/show" style="float:right;">PROFILE</a>
            <a class="name" style="float:right;">Welcome <%= user %>!</a>
        </div>
        <div id="usermap" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black">
                    <span onclick="document.getElementById('usermap').style.display='none'; " class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Create a Map</h1>
                </div>
                <div class="w3-container">
                    <span>Hello World!</span>
                </div>
            </div>
        </div>

            <div class="topnav" id="myTopnav">
                <a>BUZZN</a>
                <a>HOME</a>
                <a>ABOUT</a>
                <a href="#signup" onclick="document.getElementById('signup').style.display='block'" style="float:right;">SIGN UP</a>
                <a href="#login" onclick="document.getElementById('login').style.display='block'" style="float:right;">LOGIN</a>
            </div>
            <div id="signup" class="w3-modal">
                <div class="w3-animate-zoom">
                    <div class="register-page1">
                        <span onclick="document.getElementById('signup').style.display='none'; " class="w3-button w3-display-topright w3-large">x</span>
                        <h1>Sign Up</h1>
                    </div>
                    <div class="w3-container">
                        <% include ./users/_userRegister %>
                    </div>
                </div>
            </div>
            <div id="login" class="w3-modal">
                <div class="w3-modal-content w3-animate-zoom">
                    <div class="login-page-top">
                        <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                        <h1>Login</h1>
                    </div>
                    <div class="login-pagebottom">
                        <% include ./users/_login %>
                    </div>
                </div>
            </div> -->