<% include ./_header %>
    <% if (user) {   %>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BUZZN</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HOME</a></li>
                    <li data-toggle="modal" data-target=".about-page"><a href="#">ABOUT</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/show"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<%= user.toUpperCase() %></a></li>
                    <li data-toggle="modal" data-target=".create-map"><a href="#"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;CREATE MAP</a></li>
                    <li data-toggle="modal" data-target="#niceZoomIn"><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;LOGOUT</a></li>
                </ul>
            </div>
            <div class="modal fade  create-map" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document" style="margin-right:43%">
                    <div class="modal-content" style="width:150%;">
                        <div class=" modal-header" style="background-color:#242526;color:white; ">
                            <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                            <h4 class="modal-title " id="myModalLabel " style="font-weight: bold; font-size:1.7em; text-align: center; ">CREATE A MAP</h4>
                        </div>
                        <div class="modal-footer " style="margin-right:10%; ">
                            <% include ./maps/_createMaps %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade  about-page" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class=" modal-header" style="background-color:#242526;color:white; ">
                            <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                            <h4 class="modal-title " id="myModalLabel " style="font-weight: bold; font-size:1.7em; text-align: center; ">ABOUT</h4>
                        </div>
                        <div class="modal-footer " style="margin-right:7%; ">
                            <span style="text-align: justify;">This is an app that lets you create your map and allows you to explore other user created map to find exactly what you're looking for.</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <% } else {  %>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">BUZZN</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">HOME</a></li>
                        <li data-toggle="modal" data-target=".about-page"><a href="#">ABOUT</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li data-toggle="modal" data-target=".register-page"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;SIGN UP</a></li>
                        <li data-toggle="modal" data-target=".login-page"><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; LOGIN</a></li>
                    </ul>
                </div>
                <div class="modal fade login-page" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: #eaedf2;">
                            <div class="modal-header" style="background-color:#242526;color:white;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold; font-size:1.7em; text-align: center;">LOGIN</h4>
                            </div>
                            <div class="modal-footer" style="margin-right:7%;">
                                <% include ./users/_login %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade  register-page" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document" style="margin-right:43%">
                        <div class="modal-content" style="background-color: #eaedf2;width:150%;margin-right:60%">
                            <div class=" modal-header " style="background-color:#242526;color:white; ">
                                <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                                <h4 class="modal-title " id="myModalLabel " style="font-weight: bold; font-size:1.7em; text-align: center; ">REGISTER</h4>
                            </div>
                            <div class="modal-footer " style="margin-right:7%; ">
                                <% include ./users/_userRegister %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade  about-page" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class=" modal-header" style="background-color:#242526;color:white; ">
                                <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                                <h4 class="modal-title " id="myModalLabel " style="font-weight: bold; font-size:1.7em; text-align: center; ">ABOUT</h4>
                            </div>
                            <div class="modal-footer " style="margin-right:7%; ">
                                <span style="text-align: left;">This is an app that lets you create your map and allows you to explore other user created map to find exactly what you're looking for. You can also favorite other maps!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <% };  %>