<% if (user) { %>
    <div class="topnav" id="myTopnav">
        <a href="/">BUZZN</a>
        <a href="/">HOME</a>
        <a href="/">ABOUT</a>
        <a href="/users/logout" style="float:right;">LOGOUT</a>
        <a style="float:right;">CREATE MAP</a>
        <a href="#" style="float:right;">VIEW MAPS</a>
        <a class="name" style="float:right;">Welcome <%= user %>!</a>
    </div>
    <div id="signup" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container w3-black">
                <span onclick="document.getElementById('signup').style.display='none'; " class="w3-button w3-display-topright w3-large">x</span>
                <h1>Sign Up</h1>
            </div>
            <div class="w3-container">
                <% include ./users/_userRegister %>
            </div>
        </div>
    </div>
    <div id="login" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container w3-black">
                <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                <h1>Login</h1>
            </div>
            <div class="w3-container">
                <% include ./users/_login %>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="topnav" id="myTopnav">
            <a href="/">BUZZN</a>
            <a href="/">HOME</a>
            <a href="/">ABOUT</a>
            <a href="#signup" onclick="document.getElementById('signup').style.display='block'" style="float:right;">SIGN UP</a>
            <a href="#login" onclick="document.getElementById('login').style.display='block'" style="float:right;">LOGIN</a>
        </div>
        <div id="signup" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black">
                    <span onclick="document.getElementById('signup').style.display='none'; " class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Sign Up</h1>
                </div>
                <div class="w3-container">
                    <% include ./users/_userRegister %>
                </div>
            </div>
        </div>
        <div id="login" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black">
                    <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Login</h1>
                </div>
                <div class="w3-container">
                    <% include ./users/_login %>
                </div>
            </div>
        </div>
        <% };  %>