<form class="form-inline my-2 my-lg-0" id="register_form" action="/register" method="POST">
    <label for="email"></label>
    <input class="form-control mr-sm-2" id="email" type="email" name="email" placeholder="moogs@wikimap.ca">
    <label for="name"></label>
    <input class="form-control mr-sm-2" id="name" type="name" name="name" placeholder="Wiki">
    <label for="password"></label>
    <input class="form-control mr-sm-2" id="password" type="password" name="password" placeholder="******">
    <input type="submit" class="btn btn-info my-2 my-sm-0" value="Submit">
</form>
