<!DOCTYPE HTML>
<html>
<head>
  <% include ./partials/_header %>
  <script type="text/javascript" src="/scripts/general.js"></script>
</head>
<body>
  <% include ./partials/_nav %>
  <div>
    <ul class="hexGrid">
      <%for (map of maps) {%>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" mapId="<%= map.id %>" href="#">
              <img src='<%=map.map_image%>' />
              <h1><%=map.map_name%></h1>
              <p><%=map.map_description%></p>
            </a>
          </div>
        </li>
      <%}%>
    </ul>
  </div>
  <div class="viewMap"></div>
</body>

</html>
