<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <% include ./partials/_header %>
    <script src="/scripts/maps.js"></script>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7BCsfqIsm19orAsbdqLqYCODKv-nYA4&libraries=places"></script>


</head>

<body>
 <div id="map"></div>

<div>
<!-- <input id="address" type="textbox" value="calgary, Alberta">
<input type="button" value="Encode" onclick="codeAddress()"> -->
    <button onclick="search()"></button>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="form">
      <table>
      <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
      <tr><td>Address:</td> <td><input type='text' id='address'/> </td> </tr>
      <tr><td>Type:</td> <td><select id='type'> +
                 <option value='bar' SELECTED>bar</option>
                 <option value='restaurant'>restaurant</option>
                 </select> </td></tr>
                 <tr><td></td><td><input type='button' value='Save' onclick='saveData()'/></td></tr>
      </table>
    </div>

  </div>
