<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <% include ./partials/_header %>
        <script src="/scripts/maps.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7BCsfqIsm19orAsbdqLqYCODKv-nYA4&libraries=places"></script>
        <script src="/scripts/mapsAjax.js"></script>
</head>

<body>
    <button id="newMapBtn" class="btn btn-primary">Create Map</button>
    <button id="showMaps" class="btn btn-primary">View Maps!</button>
    <button id="editMap" mapId="1">Edit</button>
    <button id="editMap" dataID="17">Edit</button>
    <input type='button' value='Screenshot' onclick='Screenshot()' />
    <div class="map">
    </div>
</body>

</html>