<!DOCTYPE html>
<html>

<head>
    <% include ./partials/_header %>
<<<<<<< HEAD
</head>

=======
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnAHEAaAO9M1jgkn9jg4iQGS6xt_Vtexc&callback=initMap">
    </script>
    <script src="/scripts/maps.js"></script>
  </head>
  <body>
              <h1>Maps</h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
        <div class="row">

    <% include ./partials/_mapsShow %>
        </div>
    </div>

  </body>
</html>
>>>>>>> feature/users
