<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <% include ./partials/_header %>
        <script src="/scripts/mapsAjax.js"></script>
</head>

<body>
    <button id="newMapBtn" class="btn btn-primary">Create Map</button>
    <button id="showMaps" class="btn btn-primary">View Maps!</button>
    <div class="map">
    </div>
</body>

</html>
