<!doctype html>
<html>

<head>
    <% include ./partials/_header %>
</head>
<body>
    <% include ./partials/_nav %>
        <div>
    <% include ./partials/maps/_showMaps %>
        </div>
</body>

</html>
