<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <h1>Users</h1>
    <div class="register">
        <div class="container">
            <div class="row">
                <% include ./partials/_userRegister %>
            </div>
        </div>
    </div>
     <div class="register">
        <div class="container">
            <div class="row">
                <% include ./partials/_login %>
            </div>
        </div>
    </div>
  </body>
</html>
