// Global SASS
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {




    font-family: 'Open Sans Condensed', sans-serif;
    p, h1, a, h1,{
    font-size: 1.4em;
}
}

main {

}

//Fonts

p {

}

h1{

}

h2{

}

a{
    text-decoration: none;
}
