<form class="form-inline my-2 my-lg-0" action="/maps/newMap" method="POST">
    <label for="Map Name"></label>
    <input class="form-control mr-sm-2" id="name" type="text" name="name" placeholder="New Awesome Map!">
    <label for="description"></label>
    <input class="form-control mr-sm-2" id="description" type="description" name="description" placeholder="This map is awesome...">
    <input id="newMap" type="submit" class="btn btn-info my-2 my-sm-0" value="Submit">
</form>
