<script src="/scripts/mapsEdit.js"></script>

<div class="modal modalMapEdit text-center">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"> <%= map[0].map_name %> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
      <div id="map"></div>
        <form class="form my-2 my-lg-0" action="/maps/newPoint/<%= map[0].id %>" method="POST">
            <label for="title"></label>
            <input class="form-control mr-sm-2" id="title" type="text" name="title" placeholder="Awesome Title">
            <label for="description"></label>
            <input class="form-control mr-sm-2" id="description" type="description" name="description" placeholder="Describe me!">
            <label for="image"></label>
            <input class="form-control mr-sm-2" id="image" type="url" name="image" placeholder="http://">
            <label for="address"></label>
            <input class="form-control mr-sm-2" id="address" type="address" name="address" placeholder="address">
            <input class="form-control mr-sm-2" id="user" name="user" mapId="<%= map[0].id %>" type="hidden" value="<%= userId %>">
      </div>
      <div class="modal-footer">
            <input id="newPoint" type="submit" class="btn btn-info my-2 my-sm-0" value="Submit">
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
</div>


