        <div>
            <ul class="hexGrid">
                <%for (map of maps) {%>
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="../maps/show/<%=map.id%>">
                            <img src='<%=map.map_image%>' />
                            <h1><%=map.map_name%></h1>
                            <p><%=map.map_description%></p>
                            <p><
                        </a>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>
