<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <% include ../_header %>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a>BUZZN</a>
        <a>HOME</a>
        <a>ABOUT</a>
        <a href="/users/logout" style="float:right;">LOGOUT</a>
        <a id="create_map" href="#map" onclick="document.getElementById('usermap').style.display='block'" style="float:right;">CREATE MAP</a>
        <a href="/users/show" style="float:right;">PROFILE</a>
        <a class="name" style="float:right;">Welcome <%= user %>!</a>
    </div>
    <div id="usermap" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container w3-black">
                <span onclick="document.getElementById('usermap').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                <h1>Create a map</h1>
            </div>
            <div class="w3-container">
                <% include ../maps/_createMaps %>
            </div>
        </div>
    </div>
    <div id="map-container"></div>
</body>

</html>