<% include ../_header %>
    <div class="topnav" id="myTopnav">
        <a>BUZZN</a>
        <a>HOME</a>
        <a>ABOUT</a>
        <a href="/users/logout" style="float:right;">LOGOUT</a>
        <a style="float:right;">CREATE MAP</a>
        <a href="/users/show" style="float:right;">PROFILE</a>
        <a class="name" style="float:right;">Welcome <%= user %>!</a>
    </div>